html {
  text-shadow: 0 0 black;
}

body {
  color: #666;
}

h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  margin: 0;
}

p {
  font-family: 'Encode Sans Condensed', sans-serif;
  text-indent: 1.2em;
  max-width: 450px;
}

.header {
  background: #e9e9e9;
  font-family: 'Encode Sans Condensed', sans-serif;
}
.photo-box {
  overflow: hidden;
  position: relative;
  height: 250px;
}

textarea {
  resize: none;
  min-height: 120px;
  min-width: 200px;
}

.pure-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Encode Sans Condensed', sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.input-contact {
  margin-bottom: .5em;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.social {
  max-width: 25px;
  max-height: 25px;
}

.linkedin {
  margin-left: 2.5em;
}

.pure-menu-heading {
  font-size: 1.4em;
  color: #000;
}

.pure-menu-list {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 1.2em;
  color: #000;
}

.pure-menu-link:hover {
    background-color: #000;
    color: white;
}

.text-box {
  text-align: left;
  background: rgb(49, 49, 49);
  color: rgb(255, 190, 90);
}

.photo-box img {
  max-width: 100%;
  height: auto;
  min-height: 250px;
}

.photo-box aside {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 0.5em;
  color: white;
  width: 100%;
  font-size: 80%;
  text-align: right;
}

.photo-box aside span {
  color: #aaa;
}

.l-box {
  padding: 2em;
}

.contact-me-container {
  background: rgb(49, 49, 49);
  color: white;
}

.l-box-text-box {
  color: rgb(255, 190, 98);
}

.about-me-div {
  display: flex;
  flex-direction: column;
}

.wrap-scroll-up {
  text-align: center;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  max-width: 50px;
  margin: 0 auto;
  color: white;
}

.back-to-top {
  text-decoration: none;
  font-size: 75%;
}

.text-box-head {
  color: #fff;
  padding-bottom: 0.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 25px;
}

.text-box-subhead {
  font-weight: normal;
  letter-spacing:  0.1em;
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.photo-box-thin {
  height: 250px;
}

.form-box {
  text-align: center;
  font-size: 120%;
  border-bottom: 1px solid #eee;
}

.pure-button {
  display: inline-block;
  box-sizing: border-box;
  line-height: normal;
  overflow: visible;
  white-space: nowrap;
  background-color: #61B842;
  color: white;
  vertical-align: top;
  font-size: 85%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  margin: 0.3em;
  zoom: 1;
}

.heading-about-me {
  text-align: center;
}

.insta {
 width: auto;
 height: 1em;
 text-align: center;
 padding-top: 1em;
 padding-bottom: 1em;
}

.social {
  height: 100px;
  width: 100px;
}
.p-intro {
  margin: 0 auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e9e9e9;
  color: #666;
}

.contact-me {
  margin-bottom: .5em;
}

.head-shot {
  max-width: 100px;
  max-height: 100px;
  border-radius: 1em;
  margin: 0 auto;
}

footer {
  height: 5%;
  width: 100%;
  background-color: #000;
}
